body {
  background-color: #27ae60;
  margin: 0;
  padding: 0;
}
/*#game_icons {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  background-color: salmon;
}*/

#game_icons {
  margin: auto;
  height: 200px;
  width: 950px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#game_icons img {
  border-radius: 50%;
  width: 180px;
  opacity: .5;
  transition: background .5s ease;
}

#game_icons img:hover {
  background-color:rgba(255,255,255,0.2);
  opacity: 1;
}
#input_name {


}
#victory_message {
  background-color: #27ae60;
  height: 220px;
  position: absolute;
  bottom: 0;
  width: 100%;
  visibility: hidden;